@import '@/styles/theme/variables';
.global_container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px map-get($padding-side-container, content-mobile );

    margin: 0;

   
    .logo_icon_wrapper{
        height: fit-content;
        width: 25vw;
        
  
    }
    .btn_container{

        display: flex;
        align-items: center;
        .icon {
           
        }

        .icon {
            margin-right: 15px;
            &.menu_burger_wrapper{
                margin-top: 5px;
            }
        }
    }
    .wrapper_btn_lang{
        color: $dark-light-tranparent;
        margin-top: 8px;
  
    }
}