@import '@/styles/theme/variables';
.global_container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0px;
    &.addPadding{
        padding-top: 60px !important;
        @media screen and (min-width: map-get($breakpoints, lg)){
            padding-top: 100px !important;
        }
    }

}

.global_content{

    display: flex;

    flex-direction: column;
    width: 90%;
    padding: 4px;
    

    @media screen and (min-width: map-get($breakpoints, lg)){
      
        max-width: map-get($max-with-container, general);
        flex-direction: column;
        width: 80%;
    }
}