@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$gray-light-transparent : #57575757;
$dark-light-tranparent: dark;
$orange : #196e9f;
$orange-light: white;
$gray: gray;
$dark: black;
$font-family:'Poppins', sans-serif; /* 1 */
$secondary-font:'Poppins', sans-serif; /* 1 */

.global_container_btn_withClose{
    min-height: 30px;
    min-width: 100px;
    display: flex;
    justify-content: flex-end;

    

    .global_close_btn{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        background-color: $gray-light-transparent;
        width: 40px;
        border-radius: 0 10px 10px 0;
        @media (pointer:fine) {
            &:hover{
                background-color: #c2c2c2;
                
            }
            
        }
        .close_icon{
            height: 20px;
            width: 13px;
            margin-right: 9px;
            
        }
    }
    .global_container{
        position: absolute ;
        height: 100%;
        margin-right: 30px;
    }

}
.global_container{
 
    border: none;



    border: none;
    outline: none;

    background-color: $orange;
    color: $orange-light;
    font-weight: 300;

    cursor: pointer;
    border-radius: 10px;

    width: fit-content;
    min-height: 30px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    font-size: 1rem;
    padding: 2px 20px;
   

    &.grayColor{
        background-color: #9f1919c3;
        color: white;
        @media (pointer:fine){
        &:hover{
            background-color: black !important;
            color: white !important;
        }
        }
        &:active{
            background-color:$dark !important;
        }
    }
    .label{
        font-family: $secondary-font;
        margin-bottom: 2px;
        text-align: center;
    }
    &.not_available{
 
        background-color: #757575c3;
        color: $dark-light-tranparent;
        opacity: 0.6;
        cursor: no-drop;
    }

    &.available{
        &:active{
            background-color:$dark !important;
        }
        @media (pointer:fine){
        &:hover{
            background-color: $dark;
            color: white;
        }
        }
    }


}