.global_container{
    background-color: aquamarine;
    color: black;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    @media (pointer:fine){
    &:hover{
        opacity: 0.8;
    }
    }
    &:active{
        opacity: 0.8;
    }
    &.is_no_active_btn{
        cursor: unset;
        opacity: 0.3;
        background-color: white !important;
    }
}