.modal_global_container{
    position: fixed;
    z-index: 300;

    top: 0;
    left: 0;
    transition: 300ms;
    background-color:  #24242496; 
    backdrop-filter: blur(10px);
    --tw-backdrop-blur: blur(10px);
    &.hide{
        opacity: 0;
    }

    &.show{
        opacity: 1;   
    }

    height: 100vh;
    width: 100vw;

    .image_wrapper{

        z-index: 300;
        height: 100vh;
        width: 100vw;
        max-width: 800px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .btn_close_wrapper{
        position: absolute;
        top: 15px;
        left: 15px;

        padding: 10px;
    
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        transition: 300ms;
        cursor: pointer;
        z-index: 200;

        @media (pointer: fine){
            &:hover{
                background-color: #00000067;
            }
        }
        .icon_close{
            height: 100%;
            width: 100%;
        }
        
    }
}
.size_guide_btn{
    font-size: 0.8rem;
    cursor: pointer;
    @media (pointer: fine){
        &:hover{
            text-decoration: underline;
        }
    }
}