.btn_validate{
    color: bisque;
    border: 1px bisque solid;
    cursor: pointer;
    padding: 4px;
    margin: 5px;
    @media (pointer:fine){
    &:hover{
        background-color: bisque;
        color: #000;
    }
    }

    &:active{
        background-color: bisque;
        color: #000;
    }

}

.productList_wrapper{
    max-height: 70vh;
    overflow-y: scroll;
}
.valid_message{
    color: green;
}

.cart_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .info_text{
        font-size: 0.9rem;
        margin: 10px;
    }
}

