@import '@/styles/theme/variables';
.global_container{

}

.btn_open_container{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: $dark;
    padding: 10px 30px;
    width: fit-content;
    border-radius: map-get($radius, l);
    border: 5px $dark solid;
    color: $white;
    font-weight: $fw-light;
    filter: drop-shadow(5px 5px 15px #11111177);
    cursor: pointer;
    @media (pointer:fine){
    &:hover{
        background-color: $dark-lighter;
        color: $orange;
    }
    }

    &:active{
        background-color: $dark-lighter;
        color: $orange;
    }
    transition: 300ms;
    &.hide{
        opacity: 0;

    }
    &.show{
        opacity: 1;
    }

}

.global_container_modal{

    position: fixed;
    z-index: 11;
    bottom: 30px;
    left: 50%;
    border-radius:map-get($radius, l);
    transform: translate(-50%, 0);
    background-color:  #ffffffbc; 
    transition: 300ms;
    padding: 30px 20px;
    filter: drop-shadow(5px 5px 15px #11111152);
    backdrop-filter: blur(10px);
    --tw-backdrop-blur: blur(10px);
    width: 80vw;
    max-width: 800px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    min-height:400px;
    max-height: 100vh;
    
    @media screen and (min-width: map-get($breakpoints, lg)){
        min-height: 290px;
    }


    &.hide{
        opacity: 0;
        transform: translate(-50%, 200%);
  
    }
    &.show{
        opacity: 1;
        transform: translate(-50%, 0%);

    }

    .title_wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        .title{
            text-align: center;
            color:  #3d3d3daa;
            margin-bottom: 10px;
            font-size: $fs-xs;
        }
    }

}

.btn_category_container{
    background-color: #68686820; 
    width: 100%;
    @media screen and (min-width: map-get($breakpoints, lg)){
        width: 30%;
    }

    padding: 10px;
    text-align: center;
    border-radius:map-get($radius, s);
    color: $dark;
    font-weight: $fw-light;
    cursor: pointer;

    transition: 300ms;
    margin: 5px;
    
    &.checked{
        background-color: $orange;
        color: $orange-light;

    }
    @media (pointer:fine){
    &:hover{
        background-color: #040404c5; 
        color: $orange;
    }
    }
    &:active{
        background-color: #040404c5; 
        color: $orange;
    }
}

.categorie_list_wrapper{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    opacity: 1;
    transition: 300ms;
    &.itWillChange{
        opacity: 0;
        transition: 0ms;
    }
    
}

.close_wrappper_btn{

    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}